img {
  width: 100%;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.one-third {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
}

.one-forth {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 4);
}

.column-two-third {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100%/3) * 2);
}

.column-one-third {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
}
